body{
    font-family: sans-serif;
	background-image: url('bg.jpg');
}

#leiras{
	background-image: url('bg.jpg');
	width: 880px;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 50px;
	border-top-left-radius: 50px;
	border-bottom-right-radius: 50px;
  padding: 35px;
}

h1{
	color: indigo;
	font-variant: small-caps;
	text-shadow: 1px 1px white;
}

p{
  text-indent: 35px;
  text-align: justify;
  letter-spacing: -0.1px;
  line-height: 150%;
}

.kepkeret {
  width: 375px;
  float: right;
  text-align: center;
  font-size: 75%;
  padding: 0px 5px 5px;
  margin-left: 10px;
  background-image: url('bg.jpg');
  border-radius: 25px;
  overflow: hidden;
  box-shadow: 10px 10px 10px gray;  
  border-color: darkblue;
  font-family: darkblue;
  border-width: 2px;
  border-style: solid;
}

.kepkeret img{
	width: 385px;
  position: relative;
  left: -5px;
  border-color: darkblue;
}


a{
  text-decoration: none;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: #fcfcfc;
}
footer{
  position: absolute;
  bottom: -50px;
  left: 0;
  right: 0;
  background: #111;
  height: auto;
  width: 100vw;
  font-family: "Open Sans";
  padding-top: 20px;
  color: #fff;
}
